* {
    margin: 0;
    padding: 0;
}

html {}

/* Override some stuff from text.css */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

body {
    background: #EEE url(/images/bg_main.png);
    color: #333;
}

#header {
    margin-top: 2em;
    margin-bottom: 1em;
}

#menu .container_12{
    background-image: url(/images/background-yellow.png);
}

#index_menu_left {
    padding: 5px;
}

#index_menu_left a {
    text-decoration: none;
}

#index_menu_left a:hover {
    color: #000;
}

#index_menu_left #link_home {
    background-image: url(/images/icons/home.png);
    background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}
#index_menu_left #link_profile {
    background-image: url(/images/icons/user-silhouette.png);
    background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}
#index_menu_left #link_repositories {
    background-image: url(/images/icons/databases.png);
    background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}
#index_menu_left #link_ssh_keys {
    background-image: url(/images/icons/license-key.png);
    background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}
#index_menu_right #link_edit_user {
    background-image: url(/images/icons/wrench.png);
    background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}
#index_menu_right #link_login_logout {
    background-image: url(/images/icons/door.png);
    background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}
#index_menu_right #link_sign_up {
    background-image: url(/images/icons/rocket-fly.png);
    background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}

#index_menu_right {
    padding: 5px;
}

#index_menu_right img {
    /* Fix icons alignment */
    margin-bottom: -4px;
}

#dont_use_ie_please {
    border: 1px solid #DDD;
    background: #EEE;
    padding: 10px;
    color: red;
    font-weight: bold;
}

#content {
    margin-top: 1em;
    margin-bottom:2em;
}

#aquarii_banner {
    margin-top: 1em;
    margin-bottom: 1em;
}

#aq_banner {
    border: 1px solid #DDD;
    background: #888;
    padding: 10px;
}

#aq_banner p {
    font-size: 16pt;
    color: #FFF;
    font-family: times;
}

#introduction {
    margin-bottom: 1em;
}

#introduction #text_intro p {
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 14pt;
}

#index_commits_and_repositories {
    font-family: sans-serif;
}

#index_commits_and_repositories #commits {
    padding: 10px;
    font-size: 10pt;
    line-height: 14pt;
}

#commits .short_commit {
    padding: 0;
    margin-bottom: 10px;
    padding-left: 8px;
    border-left: 2px solid #888;
    margin-left: 1em;
}

#commits h2, #repositories h2 {
    margin-bottom: 1em;
}

#commits .short_commit .sh_commit_date_repos img {
    margin-bottom: -3px;
}

#commits .short_commit .sh_commit_infos {
}

#commits .short_commit .sh_commit_infos span.commit_id a {
    color: red;
    text-decoration: none;
}

#commits .short_commit .sh_commit_infos span.commit_author a {
    color: red;
    text-decoration: none;
}

#commits .short_commit .sh_commit_log span.commit_log {
    padding-left: 5px;
}

#index_commits_and_repositories #repositories {
    padding: 10px;
    font-size: 10pt;
    line-height: 14pt;
}

#repositories .short_repository {
    padding: 0;
    margin-bottom: 10px;
    padding-left: 8px;
    border-left: 2px solid #888;
    margin-left: 1em;
}

#repositories .short_repository .rep_name {
    padding-left: 5px;
}

#repositories .left_repo a, #repositories .right_repo a {
    text-decoration: none;
}

#repositories .left_repo, #repositories .right_repo {
    padding: 0;
    margin-bottom: 2em;
    padding-left: 8px;
    border-left: 2px solid #888;
}


#repositories .left_repo .rep_name, #repositories .right_repo .rep_name {
    padding-left: 5px;
}

#repositories .left_repo .rep_actions, #repositories .right_repo .rep_actions {
    font-size: 8pt;
    font-weight: normal;
}

span.kind_git {
    font-size: 12pt;
    font-weight: bold;
    color: green;
}

span.kind_hg {
    font-size: 12pt;
    font-weight: bold;
    color: green;
}

span.repo_private {
    color: red;
    font-size: 12pt;
    font-weight: bold;
}

#repo_infos_and_ppl {
    margin-bottom: 1em;
    border-bottom: 1px solid #EEE;
}

#repo_urls_and_branchs {
    margin-bottom: 1em;
    border-bottom: 1px solid #EEE;
    padding-bottom: 5px;
}

#repository .repo_desc {
    margin-bottom: 1em;
    border-bottom: 1px solid #EEE;
    padding-bottom: 5px;

    /* workaround for a weird bug: */
    margin-left: 0px;
    width:100%;
}

#repo_browser #repo_files {
    border: 1px solid #CECECE;
    background-color: #EFEFEF;
}

#repo_browser {
    margin-bottom: 1em;
}

#repo_browser .path, .view_file_path{
    padding-bottom: 5px;
    font-size: 15pt;
    font-weight: bold;
}

#repo_browser #repo_files tr {
    width: 100%;
}

#repo_browser #repo_files th, #repo_browser #repo_files td {
    padding: 3px;
}

#repo_browser #repo_files td a {
    text-decoration: none;
}

#repo_browser #repo_files tr.file, #repo_browser #repo_files tr.dir {
    border-top: 1px solid #CECECE;
}

#repo_browser #repo_files th.rf_filename {
    min-width: 200px;
    text-align: left;
}
#repo_browser #repo_files th.rf_updated_on {
    min-width: 130px;
    text-align: left;
}
#repo_browser #repo_files th.rf_commit_log {
    width: 100%;
    text-align: left;
}

#footer {
    border-top: 2px solid #BABABA;
    text-align: center;
    font-size: 9pt;
    padding-top: 10px;
    color: grey;
    margin-bottom: 10px;
}

#flash_error_messages {
    margin-top: -1em; /* content have a margin-top: 1em; */
    margin-bottom: 10px;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #DFDFDF;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    border-bottom: 1px solid #424242;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#flash_error_messages .close_flash_error_message {
    display: inline;
    float: right;
    margin-right: 5px;
    margin-top: -5px;
}

#show_error_messages {
    display: none;
}

.devise_shared_link {
    font-size: 10pt;
    margin-right: 5px;
    text-decoration: none;
}

input, textarea {
    margin-bottom: 10px;
}

#username_w_gravatar {
}

#user_gravatar_and_links {
    border-bottom: 1px solid #EEE;
}

#user_profile_and_stats {
    margin-top: 1em;
    margin-bottom: 1em;
}

#user_commits_and_repositories {
    border-top: 1px solid #EEE;
}

.sshkey {
    margin-left: 2em;
}

#new_repository_text_message {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#new_repository_text_message ul {
    list-style-type: none;
}

#new_repository_text_message ul li {
    list-style-type: none;
    padding-left: 1em;
}

#repo_last_commit {
    margin-top: 1em;
    margin-bottom: 1em;
}

#login_form, #sign_up_form, #new_password_form,
#resend_confirmation_form, #resend_unlock_form,
#edit_registration_form, #repository_form {
    margin-top: 2em;
    margin-bottom: 1em;

    padding: 20px;
    border: 1px solid #CCC;

    /* CSS3 */

    /* rounded corners */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    /* background gradient */


    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACACAMAAAD9J/PGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUdQTFRF/Pz8zc3N2traz8/P0NDR0tLS0NDQ9fX1+Pj4//7/9PT04uLi6Ojo39/fzs3NzMzM/f7+3Nzc9fb26uvq6urp4ODh9/f44+Pj+vn519fX29zb19bX1tXV6Onp5OPk2dnY+/r79vX1+vv7+vr6+Pn4+fr6/////v7+0dHR09PT/fz80tPS0dHS/Pv78vPzzs7P/v39zs7O7/Dv/f393t7d8vLx3+Dg2drZ8PDw8fHw5+bn2dnZ7ezt7+/v5eXl5OTl+fn46+vr7u7u6urq1NTV1dXV4ODg2NnY7O3s19fY09TUz87P4eHh09PS9PP0zczM7u7t3Nzd8vLy29va8fHx5uXm5ubm7u7v5OTk1dXU19fW3Nvc5+fn+/v71tbV3d3dz87O7Ovs6Ofn3t7e9vf28/Pz4+Pi7Ozs8O/v9/f31NTT/P399vb3QCtbEwAAAKZJREFUeNokw9NSBQAUQNGV3c22bdu2bdf/P3em9potIWFf0p/8MKjfg20pIT2khg490kK3XZ22fLm0YlWNO1eqVdq0rt60ccnhWJVrhwrdG/EsL4xZU2pHTnhTrs6FeXNOnZly40luqFViWbFFj95tmHFgyblZH4ZMmHRi1JE+r/Zkh4zQqMiPF5/KZIYWCyq0atakwa1e/3X5NmxAQcjSHrf9CjAAht4XiD8Rf/EAAAAASUVORK5CYII=) no-repeat;
    background-size: 100% 100%;
    background-clip: border-box;
    background-origin: border-box;

    background: -moz-linear-gradient(19% 75% 90deg, #B6B7B5, #E7E6EE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7E6EE), to(#B6B7B5));

    /* shadow behind the box */
    /*-moz-box-shadow: 0px -5px 300px #E2D3E6;
    -webkit-box-shadow:0px -5px 300px #E2D3E6;
    box-shadow:0px -5px 300px #E2D3E6;*/

}

#login_form input, #sign_up_form input, #new_password_form input,
#resend_confirmation_form input, #resend_unlock_form input,
#edit_registration_form input, #repository_form input {
    width: 230px;
    background: #DFDDDD;
    padding: 6px;
    margin-bottom: 10px;
    border-top: 1px solid #ad64e0;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;

    /* CSS3 */

    /* Transition selectors */
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;

    -moz-transition-property: -webkit-box-shadow, background;
    -moz-transition-duration: 0.25s;

    transition-property: box-shadow, background;
    transition-duration: 0.25s;

    /* Small shadow box */
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
    box-shadow: 0px 0px 2px #000;
}

#login_form input:hover, #sign_up_form input:hover,
#new_password_form input:hover, #resend_confirmation_form input:hover,
#resend_unlock_form input:hover, #edit_registration_form input:hover,
#repository_form input:hover {
    -webkit-box-shadow: 0px 0px 4px #000;
    -mox-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
    background: #F8F8FF;
}

#login_form p.login_form_submit input, #sign_up_form p.sign_up_form_submit input,
#new_password_form p.new_password_form_submit input,
#resend_confirmation_form p.resend_confirmation_form_submit input,
#resend_unlock_form p.resend_unlock_form_submit input,
#edit_registration_form p.edit_registration_form_submit input,
#repository_form p.repository_form_button input {
    width: 240px;
    color: #000;
    /*text-transform: uppercase;
    text-shadow: grey 1px 1px;*/
    border-top: 1px solid #ad64e0;
    margin-top: 10px;

    /* CSS3 */
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3D1D6), to(#848583));
    background:  -moz-linear-gradient(19% 75% 90deg,#848583, #D3D1D6);*/
}

#login_form input.login_form_remember_me, #repository_form input.private_repo {
    width: 20px;
}

#login_form a {
    color: black;
}




/* MARKUPS SPECIFIC */
.rendered_markup_redcloth {}
.rendered_markup_redcloth h2 {
    margin-top: 1em;
    border-top: 5px solid #CCC;
}


#view_readme_file, #view_file,.commit_diff {
    border: 1px solid #cecece;
    background-color: #F6F6F6;
}

#view_readme_file, #view_file pre, .commit_diff pre {
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 10px;
}

#view_file div.linenodiv, .commit_diff div.linenodiv {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
}

#view_file td.code, .commit_diff td.code {
    padding-left: 5px;
    padding-top: 5px;
}

#view_readme_file {
    padding: 5px;
}

#vfi_mode_lines_size {
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
    background-color: #EEE;
    padding: 3px;
}

#vfi_mode_lines_size span.vfi_raw {
    float: right;
}

#file_browser_no_such_file {
    padding: 5px;
}

.file_browser_separator {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

#user_name_login {
    position: absolute;
    padding: 14px 0px 0px 5px;
}

.user_links {
    margin-top: 14px;
}

.un_login {
}

.un_name {
    color: #696969;
}

#us_commits_count {
    font-size: 30pt;
    display: block;
    margin-top: -15px;
}

#us_commits_txt {
    display: block;
    line-height: 1px;
}

#us_repos_count {
    font-size: 30pt;
    display: block;
    margin-top: -15px;
}

#us_repos_txt {
    display: block;
    line-height: 1px;
}

#user_stats ul {
    list-style: none;
}

#user_stats ul li {
    float: left;
}





/* Button Clean Gray
   *******************************************************************************/
button.clean-gray {
  background: #eee;
  background: -moz-linear-gradient(0% 100% 90deg, #ccc, #eee);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
}

button.clean-gray:hover {
  background: #ddd;
  background: -moz-linear-gradient(0% 100% 90deg, #bbb, #ddd);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

button.clean-gray:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

#commits_list .commit {
        padding: 0;
    margin-bottom: 10px;
    padding-left: 8px;
    border-left: 2px solid #888;
    margin-left: 1em;
}
