* {
    margin: 0;
    padding: 0;
}

html {}

/* Override some stuff from text.css */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 0;
}

img {
    border: 0;
}

body {
    background: #EEE url(/images/bg_main.png);
    color: #333;
}

#header {
    margin-top: 2em;
    margin-bottom: 1em;
}

#menu .container_12{
    background-image: url(/images/background-yellow.png);
}

#index_menu_left {
    padding: 5px;
}

#index_menu_left a {
    text-decoration: none;
}

#index_menu_left a:hover {
    color: #000;
}

#index_menu_left #link_home {
    background-image: url(/images/icons/home.png);
    background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}

#index_menu_right {
    padding: 5px;
}

#index_menu_right img {
    /* Fix icons alignment */
    margin-bottom: -4px;
}

#content {
    margin-top: 1em;
    margin-bottom:2em;
}

#aquarii_banner {
    margin-top: 1em;
    margin-bottom: 1em;
}

#aq_banner {
    border: 1px solid #DDD;
    background: #888;
    padding: 10px;
}

#aq_banner p {
    font-size: 16pt;
    color: #FFF;
    font-family: times;
}

#introduction {
    margin-bottom: 1em;
}

#introduction #text_intro p {
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 14pt;
}

#index_commits_and_repositories {
    font-family: sans-serif;
}

#index_commits_and_repositories #commits {
    padding: 10px;
    font-size: 10pt;
    line-height: 14pt;
}

#commits .short_commit {
    padding: 0;
    margin-bottom: 10px;
    padding-left: 8px;
    border-left: 2px solid #888;
    margin-left: 1em;
}

#commits h2, #repositories h2 {
    margin-bottom: 1em;
}

#commits .short_commit .sh_commit_date_repos img {
    margin-bottom: -3px;
}

#commits .short_commit .sh_commit_infos {
}

#commits .short_commit .sh_commit_infos span.commit_id a {
    color: red;
    text-decoration: none;
}

#commits .short_commit .sh_commit_infos span.commit_author a {
    color: red;
    text-decoration: none;
}

#commits .short_commit .sh_commit_log span.commit_log {
    padding-left: 5px;
}

#index_commits_and_repositories #repositories {
    padding: 10px;
    font-size: 10pt;
    line-height: 14pt;
}

#repositories .short_repository {
    padding: 0;
    margin-bottom: 10px;
    padding-left: 8px;
    border-left: 2px solid #888;
    margin-left: 1em;
}

#repositories .short_repository .rep_name {
    padding-left: 5px;
}

#repositories .left_repo, #repositories .right_repo {
    padding: 0;
    margin-bottom: 2em;
    padding-left: 8px;
    border-left: 2px solid #888;
}

#repositories .left_repo .rep_name, #repositories .right_repo .rep_name {
    padding-left: 5px;
}

span.kind_git {
    font-size: 12pt;
    font-weight: bold;
    color: green;
}

span.kind_hg {
    font-size: 12pt;
    font-weight: bold;
    color: green;
}

#footer {
    border-top: 2px solid #BABABA;
    text-align: center;
    font-size: 9pt;
    padding-top: 10px;
    color: grey;
    margin-bottom: 10px;
}

#flash_error_messages {
    margin-top: -1em; /* content have a margin-top: 1em; */
    margin-bottom: 10px;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #DFDFDF;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    border-bottom: 1px solid #424242;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#flash_error_messages .close_flash_error_message {
    display: inline;
    float: right;
    margin-right: 5px;
    margin-top: -5px;
}

#show_error_messages {
    display: none;
}

.devise_shared_link {
    font-size: 10pt;
    margin-right: 5px;
    text-decoration: none;
}

input, textarea {
    margin-bottom: 10px;
}

#username_w_gravatar {
}

#user_gravatar_and_links {
    border-bottom: 1px solid #EEE;
}

#user_profile_and_stats {
    margin-top: 1em;
    margin-bottom: 1em;
}

#user_commits_and_repositories {
    border-top: 1px solid #EEE;
}

.sshkey {
    margin-left: 2em;
}

/*

#sub_bar {
    background-image: url(/images/background-yellow.png);
    color: #191919;
    padding: 5px;
    padding-top: 8px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

#sub_bar a {
    font-family: monospace;
    text-decoration: none;
    font-weight: bold;
    color: #191919;
}

#sub_bar a:hover {
    color: #000;
}

#sub_left {
    width: 65%;
}

#sub_left #link_home {
    background-image: url(/images/icons/home.png);
    background-repeat:no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 18px;
}

#sub_bar #user_stuff {
    margin-left: 40px;
}

#sub_bar #user_stuff a {
    margin-left: 20px;
}


#sub_right {
    float: right;
    text-align: right;
    width: 30%;
    font-family: monospace;
}

#sub_right a {
    text-decoration: none;
    font-weight: bold;
}

#sub_right img {
    border: none;
}

input, textarea {
    background: #FFF;
    border: 1px solid #CCC;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}






#content #left_content {
    float: left;
    width: 48%;
    margin-left: 0;
    padding: 0;
}

#content #right_content {
    float: right;
    width: 48%;
    margin-right: 0;
}

#left_content #commits h2, #repositories h2 {
    background: #4d4d4d;
    padding: 10px;
    color: #EEE;
    font-size: 10pt;
    line-height: 14pt;
    font-family: sans-serif;
}

#user div.user_commits {
    background: #4d4d4d;
    padding: 10px;
    color: #EEE;
    font-size: 10pt;
    line-height: 14pt;
    font-family: sans-serif;
}

#user div.user_commits {
    margin-top: 10px;
    padding: 0;
}

#commits div.short_commit, div.user_commits div.short_commit {
    padding: 0;
    background: #222;
}
#commits div.short_commit a, div.user_commits div.short_commit a {
    color: #fb3700;
    text-decoration: none;
    font-weight: bold;
}

div.user_commits div.short_commit div.left_sh_commit {
    float: left;
    margin-left: 0;
    width: 30%;
    border-top: 1px solid #111;
    background: #000;
    height: 80px;
}

div.user_commits div.short_commit div.left_sh_commit span {
    display: block;
}

#commits div.short_commit div.left_sh_commit span.repository,
div.user_commits div.short_commit div.left_sh_commit span.repository {
    margin-top: 15px;
}

#commits div.short_commit div.left_sh_commit .repository a,
div.user_commits div.short_commit div.left_sh_commit .repository a {
    color: #fb3700;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}
#commits div.short_commit div.left_sh_commit .repository a:hover,
div.user_commits div.short_commit div.left_sh_commit .repository a:hover {
    text-decoration: underline;
}



#commits div.short_commit div.right_sh_commit,
div.user_commits div.short_commit div.right_sh_commit {
    float: right;
    margin-right: 0;
    width: 70%;
    border-top: 1px solid #111;
}

#commits div.short_commit p,
div.user_commits div.short_commit p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#commits div.short_commit div.right_sh_commit span,
div.user_commits div.short_commit div.right_sh_commit span {
}

#commits div.short_commit div.right_sh_commit span.commit_log,
div.user_commits div.short_commit div.right_sh_commit span.commit_log {
    display: block;
    font-family: monospace;
    font-size: 9pt;
    margin-left: 10px;
}

#repositories div.left_repo {
    float: left;
    width: 49%;
    margin-left: 0;
}
#repositories div.left_repo p {
    margin-left: 10px;
}

#repositories div.right_repo {
    float: right;
    width: 49%;
    margin-right: 0;
}
#repositories div.right_repo p {
    margin-left: 10px;
}

#repositories div.two_repositories {
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    padding-top: 5px;
}

span.kind_git {
    color: #1aa000;
    font-weight: bold;
}

span.kind_hg {
    color: #4275a5;
    font-weight: bold;
}

#repositories span.rep_name {
    margin-bottom: 10px;
    margin-left: 10px;
}

#repositories a {
    color: #191919;
    text-decoration: none;
    font-weight: normal;
    font-size: 10pt;
    font-family: sans-serif;
}

#repositories form {
    color: #EEE;
    font-size: 10pt;
    font-family: sans-serif;
    margin-left: 20px;
}


div.desc {
    margin-bottom: 20px;
}

#content p.desc {
    margin-top: 10px;
    margin-bottom: 5px;
}

#content p.members {
    margin-top: 3px;
}

#content div.beans {
    margin-bottom: 20px;
}

#repository {
    font-family: sans-serif;
    font-size: 10pt;
    color: #191919;
    padding-top: 15px;
}

#repository h2 {
    letter-spacing: 1.2px;
}

#repository div.people {
    float: right;
    width: 20%;
}

#repository a {
    color: #fb3700;
    text-decoration: none;
    font-weight: bold;
}

#sshkeys {
    color: #EEE;
    font-family: sans-serif;
    margin-top: 15px;
}

#sshkeys div.sshkey {
    margin-top: 10px;
    margin-left: 10px;
}

#sshkeys a, #sshkeys a:hover {
    text-decoration: none;
    color: #fb3700;
}

#files {
}

#files #repo_browser {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#files .path p {
    margin: 10px;
    font-weight: bold;
    color: #fb3700;
}

#files table {
    border: 1px solid #888;
    width: 100%;
    font-family: sans-serif;
    background: #f1f1f1;
}

#files table th {
    padding: 5px;
    text-align: left;
}

#files table td {
    padding: 5px;
    border-bottom: 1px dashed #888;
}

#files table tr.dir a {
    color: #fb3700;
    font-weight: bold;
    text-decoration: none;
}

#user {
    margin-top: 0px;
}

#user div.user_desc, #user div.user_repositories {
    color: #EEE;
    background: #222;
    margin-bottom: 15px;
}

#user div.user_repositories {
    float: left;
    width: 49%;
    margin-left: 0;
}

#user div.user_commits {
    float: right;
    width: 49%;
    margin-right: 0;
}

#user h2 {
    background: #000;
    padding: 10px;
    color: #EEE;
    font-size: 12pt;
    line-height: 14pt;
    font-family: sans-serif;
}

#user div.user_desc p {
    padding: 10px;
}

#user div.user_repositories {
    margin-top: 10px;
}

#user div.user_repositories div.left_repo {
    float: left;
    width: 49%;
    margin-left: 0;
}
#user div.user_repositories div.left_repo p {
    margin-left: 10px;
}

#user div.user_repositories div.right_repo {
    float: right;
    width: 49%;
    margin-right: 0;
}

#user div.user_repositories div.right_repo p {
    margin-left: 10px;
}

#user div.user_repositories div.two_repositories {
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    padding-top: 5px;
}

#user div.user_repositories span.kind_git {
    color: #1aa000;
    font-weight: bold;
    font-family: sans-serif;
}

#user div.user_repositories span.kind_hg {
    color: #4275a5;
    font-weight: bold;
    font-family: sans-serif;
}

#user div.user_repositories span.rep_name {
    margin-bottom: 10px;
    margin-left: 10px;
}

#user div.user_repositories a {
    color: #EEE;
    text-decoration: none;
    font-weight: normal;
    font-size: 10pt;
    font-family: sans-serif;
}

#repositories div.left_rep{
    float: left;
    width: 49%;
    margin-left: 0;
}
#repositories div.right_rep {
    float: right;
    width: 49%;
    margin-right: 0;
}

#repositories div.repository {
    margin-top: 20px;
    background: #222;
    padding-bottom: 1px;
}

#repositories div.repository h3 {
    padding: 5px;
    background: #000;
}
#repositories div.repository span.rep_name {
    margin-bottom: 5px;
    font-weight: bold;
}

#repositories div.repository p {
    margin: 10px;
    margin-bottom: 0;
    font-size: 10pt;
    color: #EEE;
}

#login {
    color: #EEE;
    font-family: sans-serif;
}
#login form {
    font-size: 10pt;
}



#view_file {
    width: 90%;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border: 1px solid #888;
}

#view_readme_file {
    width: 95%;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border: 1px solid #888;
}

#view_file pre, #view_readme_file pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#new_repository_text_message {
    background-color: #222;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#new_repository_text_message ul {
    list-style-type: none;
}

#new_repository_text_message ul li {
    list-style-type: none;
    padding-left: 1em;
}

.devise_shared_link {
    font-size: 10pt;
    margin-right: 5px;
    text-decoration: none;
}

#flash_error_messages {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    background-color: #DFDFDF;
    border: 1px solid #424242;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

*/
