<div class="user_links">
  <% if current_user %>
    <%= link_to new_user_aq_repository_url(@user) do %>
      <button class="clean-gray"><%= t(:new, :scope => :repositories)%></button>
    <% end %>
  <% end %>
</div>
