<% if flash[:warning] or flash[:notice] or flash[:error] or flash[:alert] %>
  <div id="flash_error">
    <div id="flash_error_button">
      <a href="#" onclick="$('#flash_error_messages').slideToggle('slow');" >Toggle error messages</a>
    </div>
    <div id="flash_error_messages">
      <span>
        <div><%= flash[:error] %></div>
        <div><%= flash[:alert] %></div>
        <div><%= flash[:warning] %></div>
        <div><%= flash[:notice] %></div>
      </span>
    </div>
  </div>
<% end %>
