<div class="short_repository">
  <p>
    <% if rep.is_git? %>
      <span class="kind_git" title="Git" >G</span>
    <% elsif rep.is_hg? %>
      <span class="kind_hg" title="HG" >H</span>
    <% end %>
    <% if rep.is_private? %>
      <span class="repo_private" title="<%= t(:repo_private, :scope => :repositories) %>" >P</span>
    <% end %>
    <span class="rep_name"><%= link_to rep.owner.login + "/" + rep.name, user_aq_repository_url(rep.owner.login, rep) %></span>
    &nbsp;-&nbsp;
    <span class="rep_short_desc"><%= rep.short_desc %></span>
  </p>
</div>
